body {
  font-family: Arial;
  font-size: 16px;
}


#container {
  /* background-color: lightgrey; */
  width: 25%;
  margin: 0 auto;
  border: 2px solid black;
}


.completed {
  color: grey;
  text-decoration: line-through;
}

span {
  background-color: crimson;
  color: white;
  padding: 8px;
  margin-right: 20px;
  width: 0;
  opacity: 0;
  transition: 0.1s linear;
  display: inline-block;
  text-align: center;
}

p > span {
  background-color: green;
  color: white;
  padding: 8px;
  margin-right: 20px;
  width: 0;
  opacity: 0;
  transition: 0.1s linear;
  display: inline-block;
  text-align: center;
}


li:hover span {
  width: 20px;
  opacity: 1.0;
}

p:hover span {
  width: 20px;
  opacity: 1.0;
}

.greenplus {
  width: 20px;
  opacity: 1.0;
}


ul {
  list-style-type: none;
  padding: 0;
}


h1 {
  text-transform: uppercase;
  padding: 5px 28px;
  margin: 0;
  background-color: skyblue;
  color: white;
}

input {
  width: 80%;
  padding: 10px 0;
  /* margin: 0 38px; */
  font-size: 16px;
  border-style: none;
  border-bottom: 1px solid black;
}

.clear:after {
  content: "";
  clear: both;
  display: block;
}
